version: '3'
services:
  app:
    build: .
    image: omardoma/express-seed-project:v1
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    networks:
      - webnet
    depends_on:
      - mongo
  
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - /data/db:/data/db
    networks:
      - webnet

networks:
  webnet: