version: '3'
services:
  app:
    image: omardoma/express-seed-project:v1
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    deploy:
      replicas: 5
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.1"
          memory: 50M
    networks:
      - webnet

networks:
  webnet: